{% extends 'mainapp/index.html' %}

{% block content %}
    <div class="container home-info">
        <h1>Добро пожаловать на Сокра.тим</h1>
        Очень мощный и технологичный проект

        <h2>Почему мы?</h2>
        Мы и сами не знаем, кому это нужно, но мы существуем

        <h2>Преимущества</h2>
        Отсутствуют

        <h2>Недостатки</h2>
        Концепция ресурса сплошной недостаток
        <hr><hr>
        <div class="btn">
            <a class="btn-red" href="https://itproger.com/intensive/python">Перейти на страничку идейного вдохновителя</a>

        </div>
    </div>
{% endblock %}

